[submodule "themes/courseware"]
	path = themes/courseware
	url = https://github.com/anandjanki/courseware.git
[submodule "public"]
	path = public
	url = https://github.com/anandjanki/anandjanki.github.io.git
	branch = master
