.bg-light-red-1 {
  background-color: #DFBAB1;
}
.bg-light-red-2 {
  background-color: #EECECD;
}
.bg-light-blue-1 {
  background-color: #D3E2F2;
}
.bg-light-blue-2 {
  background-color: #CCD9F5;
}
.bg-light-yellow-1 {
  background-color: #FDF3D0;
}
.bg-light-green-2 {
  background-color: #DCE9D5;
}
